body {
  background-color: #dcdde1;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.report {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin : 30px 50px 5px 50px;
  overflow: auto;
}
#rimg {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  float: right;
  margin: 5px 50px 20px 50px;
  
}
.details {
  font-size: 20px;
  margin: 5px 30px 5px 30px;
  line-height: 40px;
}
.heading {
  /*font-family: */
  background-color: #718093;
  color: #dcdde1;
  padding: 20px;
  border: 
}

.cnfrm {
  margin : 5px 30px 5px 30px;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #3867d6;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

